# Copy or rename this file to "wireless.env"
# and fill in your Wi-Fi credentials.
# The Bedside Clock will automatically connect on boot.

WIFI_SSID="Your_WiFi_Name"
WIFI_PASSWORD="Your_WiFi_Password"
